.freecodecamp-logo-contenedor {
    width: 100%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 50px;
  
  }
  
  .freecodecamp-logo {
    height: 40px;
  }