*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #1b1b32;

}

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 50px;

}

.freecodecamp-logo {
  height: 40px;
}

.App{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: Lato, sans-serif;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 5px solid #fff;
  
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}